.data-aligner {
  background-color: #000000;
}

.data-aligner p {
  color: rgba(255, 255, 255, 0.559);
}

.data-aligner h6 {
  color: rgb(255, 255, 255);
}

.create-back {
  width: 90%;
}

.grey-txt {
  color: rgb(77, 77, 77);
}

.grey-txt-n {
  color: rgb(143, 143, 143);
}

.sep-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(210, 210, 210);
}

.custom-table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
  table-layout: auto;
  border-color: rgb(220, 220, 220);
}

.item-table-th {
  background-color: rgba(0, 34, 255, 0.884);
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.co-s {
  background-color: rgba(0, 255, 64, 0.055);
}

.width2 {
  width: 45vw;
  overflow-x: auto;
}

.width1 {
  width: 55vw;
}

.custom-table td {
  height: 50px;
  vertical-align: middle;
}

.table-w {
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-width: 1px;
  border-bottom-width: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: #ffffff28;
  color: #000000;
}
