.form-seperater-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #293dbe63;
}

.form-seperater-line p {
  font-size: 13px;
  font-weight: 400;
  color: #293dbec2;
}

.report-logo {
  height: 70px;
}
